.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 0;
}

.gallery-item {
  list-style: none;
  flex-basis: calc((100% - (24px * 2)) / 3);
  height: auto;
}

.gallery-item:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
